<!-- <div class="profile-wrapper">
    <div *ngIf="!isLoading() && isValidUser()">
        <img *ngIf="!isLoading()" [src]="profile.avatar"><br />
        <h2>{{username}}</h2>
        <h4 *ngIf="hasGames()">{{tilt.toFixed(2)}}% tilted</h4>
        <h4 *ngIf="!hasGames()">No games played this month</h4>
    </div>
    <div *ngIf="!isLoading() && !isValidUser()">
        <h3>That user does not exist on chess.com.</h3>
    </div>
    <app-loading *ngIf="isLoading()"></app-loading>
</div> -->

<div class="container">
    <div class="text-center mt-5 w-100">
        <app-search></app-search>
        <div class="w-100" *ngIf="!isLoading() && isValidUser()">
            <img [src]="profile.avatar"><br />
            <div class="details">
                <h2><a class="link-success" [href]="profile.url">{{username}}</a></h2>
                <h4 *ngIf="hasGames()">{{tilt.toFixed(2)}}% tilted</h4>
                <h4 *ngIf="!hasGames()">No games played this month</h4>
                <label *ngFor="let type of gametypes">
                    <input type="radio" [value]="type" [(ngModel)]="currentType" (change)="setGameCollection(type)" >{{type}}
                </label>
            </div>
        </div>
        <div *ngIf="!isLoading() && !isValidUser()">
            <h3>That user does not exist on chess.com.</h3>
        </div>
        <app-loading *ngIf="isLoading()"></app-loading>
    </div>
</div>