img {
    width: 200px;
    height: 200px;
    margin: 5em;
    // animation-name: tilt;
    // animation-duration: 2s;
    // animation-fill-mode: forwards;
    box-shadow: 1px 1px 5px;
    background-color: #fff;
}

.tilt-animation {
    animation-name: tilt;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.profile-wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0.3em;
}

label {
    font-size: 1.1em;
}

div.radio-container {
    align-items: start;
    justify-content: left;
}

@keyframes tilt {
    from {
        transform: rotate(var(--start-tilt, 0));
    }
    to {
        transform: rotate(var(--target-tilt, 0));
    }
}

.details {
    width: 75%;
    padding: 3em;
    border-radius: 1em 0;
    background-color: rgba(215,215,215,0.8);
}

h2 {
    text-shadow: 1px 1px 3px #000;
}